.recipe-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .recipe-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    max-width: 300px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin-right: 3%;
    margin-top: 3%;


}
  
  .recipe-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  